*{
    margin: 0;
}

body{ 
    background-color: white;
    font-family: "M PLUS Rounded 1c", sans-serif;
    overflow-x: hidden !important;
}

.text{
    text-align: center;
    color: #1e9ec1;
    text-transform: uppercase;
    font-size: 7vh;
    margin-top: 14vh;
}

header{
    background-color: #9F3081;
    width: auto;
    height: 12vh;
}

#logo{
    width: 120px;
    margin: 0 100px;
    position: relative;
    top: 2vh;
}

li{
    list-style: none;
    float: left;
    margin: 0 13px;
    position: relative;
    left: 40vh;
    bottom: 4vh;
}

.cabecario a{
    text-decoration: none;
    color: white;
}

li :hover {
    color: orange;
    transition: 0.7s;
}

.carousel {
    position: relative;
    margin-left: 50vh;
    width: 100vh;
    height: 50vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    margin-top: -12vh;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: rgb(0, 225, 255);
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
    padding: 0 1rem;
}

.carousel-button:hover {
    opacity: 1;
}

#prev-button {
    left: 10px;
}

#next-button {
    right: 10px;
}

#picole{
    width: 90vh;
    margin-left: 50vh;
    margin-top: 10vh;
}

.mais{
    background-color: #E62866;
    margin-top: 20vh;
    border-radius: 20px 20px 20px 20px;
    margin-left: 20vh;
    width: 155vh;
    height: 44vh;
    display: flex;
}

.photo{
    width: 40vh;
    height: 40vh;
    margin-left: 2vh;
    color: white;
    text-align: center;
    margin-bottom: 20vh;
}

.photo-1{
    width: 40vh;
    height: 40vh;
    margin-left: 2vh;
    color: white;
    text-align: center;
    bottom: -5vh;
}

.photo-2{
    width: 40vh;
    height: 40vh;
    margin-left: 2vh;
    color: white;
    text-align: center;
    bottom: -5vh;
}

.photo-3{
    width: 40vh;
    height: 40vh;
    margin-left: 2vh;
    color: white;
    text-align: center;
    bottom: -5vh;
}

#h3-loja{
    margin-top: 8vh;
}

#h3-sabor{
    margin-top: 10vh;
}

#h3-preco{
    margin-top: 6vh;
}

#h3-curtida{
    margin-top: 8vh;
}

.imgs{
    width: 20vh;
    margin-left: 10vh;
    position: relative;
    top: 7vh;
}

.imgs-1{
    width: 20vh;
    margin-left: 10vh;
    position: relative;
    top: 7vh;
}

.imgs-2{
    width: 17vh;
    margin-left: 10vh;
    position: relative;
    top: 6vh;
}

.imgs-3{
    width: 20vh;
    margin-left: 10vh;
    position: relative;
    top: 7vh;
}

#insta{
    padding-top: 15vh;
    color: #E62866;
    font-family: "MPlus", Sans-serif;
    font-size: 50px;
    text-align: center;
}

.more{
    margin-top: 10vh;
    margin-left: 54vh;
    width: 87vh;
    height: 87vh;
}

.inst{
    display: flex;
    gap: 1vh;
}

.jpeg{
    width: 28vh;
}

.txt{
    display: flex;
    gap: 2vh;
    font-size: 2.1vh;
    text-align: start;
    margin-top: 1vh;
}

.txt a{
    color: #1E9EC1;
    text-decoration: none;
}

.inst-down a{
    color: #1E9EC1;
    text-decoration: none;
}

.inst-down{
    gap: 2vh;
    font-size: 2.3vh;
    text-align: start;
    margin-top: 1vh;
    display: flex;
}

.reservados{
    background-color: #E62866;;
    width: auto;
    height: 42.5vh;
    display: flex;
    margin-top: 12.9vh;
}

.direitos{
    width: 37vh;
    margin-left: 15vh;
    margin-top: 9.5vh;
}

.prgfr{
    color: white;
    margin-top: 2vh;
    font-size: 1.6vh;
    text-align: center;
}

.facebook{
    margin-left: 5.5vh;
    margin-top: 5vh;
}

.img-facebook{
    width: 37vh;
}

.face-insta{
    margin-bottom: 2vh;
    color: white;
    text-align: center;
}

.instagram{
    margin-left: 5vh;
    margin-top: 5vh;
}

.img-instagram{
    width: 37vh;
}

.informacao-add{
    margin-left: 6vh;
    margin-top: 5vh;
}

.space{
    display: flex;
    font-size: 4vh;
    gap: 3vh;
}

.informacao-add a{
    text-decoration: none;
    color: white;
}

#listagem{
    color: white;
    margin-top: 1.5vh;
}

#arroba{
    color: white;
    margin-top: 1.4vh;
}